<!doctype html>
<html class="psg-theme" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <title><%= projectName %></title>
    <style>
        <%- codeStyle %>
    </style>
    <style>
		<%- tmplStyle %>
	</style>

</head>

<body>
    <div class="psg-wrapper">
        <nav class="psg-menu">
            <a href="" class="psg-logo">
                <img
              title="Philosopher’s stone, logo of PostCSS"
              src="http://postcss.github.io/postcss/logo-leftp.svg">
            </a>

            <ul class="psg-ComponentList">
                <% if (pages.length > 1) { %>
                    <% pages.forEach((p) => { %>
                    <li>
                        <a href="./<%= p.id %>.html" class="psg-ComponentList__item">
                            <%= p.title %>
                        </a>
                        <% if (page.id === p.id) { %>
                        <ul>
                            <% if (p.id === 'index' && Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
                            <li>
                                <a href="#color-palette" class="psg-ComponentList__item">
                                    - Color Palette
                                </a>
                            </li>
                            <% } %>
                            <% p.nodes.filter((m) => !!m.link.title).forEach((node) => { %>
                            <li>
                                <a href="#<%= node.link.id %>" class="psg-ComponentList__item">
                                    - <%= node.link.title %>
                                </a>
                            </li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </li>
                    <% }) %>
                <% } else { %>
                    <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
                    <li>
                        <a href="#color-palette" class="psg-ComponentList__item">
                            Color Palette
                        </a>
                    </li>
                    <% } %>
                    <% maps.filter((m) => !!m.link.title).forEach((node) => { %>
                    <li>
                        <a href="#<%= node.link.id %>" class="psg-ComponentList__item">
                            <%= node.link.title %>
                        </a>
                    </li>
                    <% }); %>
                <% } %>

            </ul>

        </nav>

        <div class="psg-main">
            <header class="psg-title">
                <h1><%= projectName %></h1>
            </header>

            <div class="psg-container">
                <% if (page.meta.root) { %>
                    <h2 class="psg-component-root"><%= page.meta.title %></h2>
                    <section class="psg-section psg-section--intro">
                        <div class="psg-contents">
                            <%- page.html %>
                        </div>
                    </section>
                    <hr class="psg-separator">
                <% } %>
                <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
                    <section class="psg-section">
                        <h2 id="color-palette" class="psg-component-title">Color Palette</h2>
                        <div class="psg-contents">
                            <div class="psg-colorPalette">
                                <% colorPalette.forEach(function (palette) { %>
                                <div class="psg-colorBox">
                                    <div class="psg-colorBox__sample" style="background-color: <%= palette.color %>">
                                    </div>
                                    <div class="psg-colorBox__name">
                                        <%= palette.name %> <br/>(<code><%= palette.color %></code>)
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        </div>
                    </section>
                    <hr class="psg-separator">
                <% } %>
				<% if (page.nodes.length > 0) { %>
                <% page.nodes.forEach((map, i) => { %>
                    <% if (map.link.title && i !== 0) { %>
                        <hr class="psg-separator">
                    <% } %>
                    <section class="psg-section<%- (map.link.title ? ' psg-section--main' : '') %>" id="<%= map.meta.id %>">
                        <% if (map.link.title) { %>
                        <h2 class="psg-component-title"><%= map.link.title %></h2>
                        <% } %>
                        <div class="psg-contents">
                            <% if (map.meta.id) { %>
                                <%- map.html.replace(/<\/?pre>/g, function (match) {
                                    if (match === '<pre>') {
                                        return '<div class="psg-framewrap">'
                                            + '<div class="btn-wrap"><button class="psg-frame-reload" aria-controls="psg-' + map.meta.id + '">rerun</button>'
                                            + '<button class="psg-frame-open" aria-controls="psg-' + map.meta.id + '">↗</button></div>'
                                            + '<iframe src="./examples/_' + map.meta.id + '.html" class="psg-example-frame" id="psg-' + map.meta.id + '" frameborder="0"></iframe></div>'
                                            + '<div class="psg-pre"><span>Code</span><pre>';
                                    }
                                    return '</pre></div>';
                                }) %>
                            <% } else { %>
                                <%- map.html %>
                            <% } %>
                        </div>
                    </section>
                <% }) %>
                <hr class="psg-separator">
				<% } %>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
        (function($) {

            function adjustHeight($iframe) {
                var $contents = $iframe.contents();
                var $wrap = $contents.find('.psg-code-wrap');

                setTimeout(function () {
                    window.requestAnimationFrame(function () {
                        var h = $wrap.height();
                        $iframe.height(h + 50);
                    });
                }, 600)
            }

            $('.psg-framewrap iframe').each(function (i, iframe) {
                var $iframe = $(iframe);

                $(iframe.contentWindow.document).ready(function () {
                    window.requestAnimationFrame(function () {
                        adjustHeight($iframe);
                    });
                    $iframe.closest('.psg-framewrap').addClass('is-rendered');
                });

            })
//

            $(document).on('click', '.psg-framewrap .psg-frame-reload', function () {
                var $iframe = $(document.getElementById($.attr(this, 'aria-controls')))
                var $wrap = $iframe.closest('.psg-framewrap');

                $wrap.removeClass('is-rendered');

                $iframe.one('load', function () {
                    window.requestAnimationFrame(function () {
                        adjustHeight($iframe);
                    });
                    $wrap.addClass('is-rendered');
                });
                $iframe[0].contentWindow.location.reload(true);
            });

            $(document).on('click', '.psg-framewrap .psg-frame-open', function () {
                var $iframe = $(document.getElementById($.attr(this, 'aria-controls')))

                window.open($iframe[0].contentWindow.location.href);
            });


            var $menuItems = $('.psg-menu a');
            $(window).on('load hashchange', function() {
                var hash = location.hash;
                $menuItems
                    .filter('.is-current')
                    .removeClass('is-current')
                .end().filter('[href="' + hash + '"]').addClass('is-current');
            });
//
            $('.psg-contents .psg-pre > span').on('click', function (e) {
                $(this).parent().toggleClass('is-pre-open');
            });

        }(jQuery));
    </script>
</body>
</html>
